@font-face {
    font-family: AliRegular;
    src: url('../../src/assets/font/AlibabaPuHuiTi-2-55-Regular.ttf');
}

body {
    font-family: 'AliRegular' !important;
}

.active-blue {
    color: #1e80ff !important;
}

// 单行文本溢出
.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

// 多行文本溢出
.multiline-text-ellipsis {
    display: -webkit-box; 
	-webkit-line-clamp: 3; /* 显示的文本行数 */
	-webkit-box-orient: vertical;
	overflow: hidden; 
	text-overflow: ellipsis;
    // margin-bottom: 10px; /* 设置文本的上下外边距 */
}

// 未被关注时按钮样式
.common-concern-btn(@width: 110px,@height: 35px,@bg: #1e80ff,@color: #fff,@borderColor: #1e80ff) {
    width: @width;
    height: @height;
    line-height: @height;
    background: @bg;
    color: @color;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid @borderColor;
    text-align: center;
    &:hover {
        opacity: 0.6;
    }
}

// 被关注时按钮样式
.concerned {
    background: #f6f6f7 !important;
    color: #8a919f !important;
    border: 1px solid #e0e0e0 !important;
}

// 私信按钮样式
.message-btn {
    width: 110px;
    height: 35px;
    line-height: 35px;
    background: #1e80ff0d;
    color: #1e80ff;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    border: 1px solid rgba(30, 128, 255, 0.3);
    &:hover {
        opacity: 0.6;
    }
}

// 背景色激活样式
.back-active {
    background: #eaf2ff;
}